<div class="top" style="background:url(/images/topbg.gif) repeat-x;">
    <div class="topleft">
      <a href="/admin/login" target="_parent">
        <img src="/images/logo.png" title="系统首页" />
      </a>
    </div>
    <div class="topright">
      <ul>
        <li>
          <a href="/admin/login" target="_parent">退出</a>
        </li>
      </ul>
    </div>
</div>
<div class="left" style="background:#f0f9fd;">
  <div class="lefttop"><span></span>管理中心</div>
    <dl class="leftmenu">
      <dd>
        <div class="title">
          <span><img src="/images/leftico01.png" /></span>管理信息
        </div>
        <ul class="menuson">
          <li class="menusonList "><cite></cite><a href="/admin/" target="rightFrame">悬浮框</a><i></i></li>
          <li class="menusonList"><cite></cite><a href="/admin/banner" target="rightFrame">banner图</a><i></i></li>
          <li class="menusonList"><cite></cite><a href="/admin/title" target="rightFrame">标题</a><i></i></li>
          <li class="menusonList"><cite></cite><a href="/admin/team" target="rightFrame">团队介绍</a><i></i></li>
          <li class="menusonList"><cite></cite><a href="/admin/project_profile" target="rightFrame">项目简介</a><i></i></li>
          <li class="menusonList"><cite></cite><a href="/admin/company_profile" target="rightFrame">公司简介</a><i></i></li>
          <li class="menusonList"><cite></cite><a href="/admin/project_introduction" target="rightFrame">项目介绍</a><i></i></li>
          <li class="menusonList"><cite></cite><a href="/admin/safe_promise" target="rightFrame">安全保障</a><i></i></li>
          <li class="menusonList"><cite></cite><a href="/admin/puzzled" target="rightFrame">投资疑惑</a><i></i></li>
          <li class="menusonList"><cite></cite><a href="/admin/aboutUs" target="rightFrame">联系我们</a><i></i></li>
          <li class="menusonList"><cite></cite><a href="/admin/users" target="rightFrame">会员信息</a><i></i></li>
        </ul>
      </dd>
    </dl>

</div>
