<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/js/jquery.js"></script>

<script language="javascript">
	$(function(){
    $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
	$(window).resize(function(){
    $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
    })
});
</script>

</head>

<body style="background-color:#1c77ac; background-image:url(/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">



    <div id="mainBody">
      <div id="cloud1" class="cloud"></div>
      <div id="cloud2" class="cloud"></div>
    </div>


<div class="logintop">
    <span>欢迎登录后台管理界面平台</span>
    <ul>
    <li><a href="#">回首页</a></li>
    </ul>
    </div>

    <div class="loginbody">

    <span class="systemlogo"></span>

    <div class="loginbox">

    <ul>
      <form action="/admin/login" method="post">
		    <li><input class="loginuser" type="text" name="username" value=""></li>
		    <li><input  class="loginpwd" type="password" name="password" value=""></li>
		    <li><input name="" class="loginbtn"  type="submit" class="loginbtn" value="登录"   />
    	</form>
    </ul>


    </div>

    </div>



</body>
</html>
