<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-store">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="Expires" content="0">
		<title>风险承受能力测评</title>
		<link href="css/risk.css" rel="stylesheet">
		<style type="text/css">
			.inputInfo{
				margin-top: 10px;
				width: 90px;
			}
		</style>
	</head>
	<body style="">

		<div class="wjContent clear" id="survey_page">
			<div class="content" id="begin_content" style="">
				<div class="wjtitle mtop project_title">
					<h1>风险承受能力测评</h1>
				</div>
				<div class="wjintro mtop desc_begin">
					<p></p>
					<p><span style="color:rgb(102, 102, 102)"><span style="font-size:16px"><span style="font-family:microsoft yahei"><span style="color:rgb(102, 102, 102)"><span style="font-size:16px"><span style="font-family:microsoft yahei"><span style="font-size:14px">温馨提醒：风险测试问卷能够帮助投资者准确的对自我风险承受能力，投资理念，投资性格等进行专业的认知测试，综合评估您的风险承受能力高低，是投资者进行投资理财之前重要的准备工作。</span></span>
						</span>
						</span>
						</span>
						</span>
						</span><span style="color:#ff6600"><span style="font-size:16px"><span style="font-family:microsoft yahei"><span style="font-size:16px"><span style="font-family:microsoft yahei"><span style="font-size:14px">投资者可结合自身的风险承受程度等情况，构建适合自己的投资组合，从而控制风险，做到科学、理性投资。</span>&nbsp;</span>
						</span>
						</span>
						</span>
						</span>
					</p><span></span><span></span>
					<p><span style="color:rgb(102, 102, 102)"><span style="font-size:16px"><span style="font-family:microsoft yahei">&nbsp;</span></span>
						</span>
					</p><span></span><span></span>
					<p><span style="color:rgb(102, 102, 102)"><span style="font-size:16px"><span style="font-family:microsoft yahei"><span style="color:rgb(102, 102, 102)"><span style="font-size:16px"><span style="font-family:microsoft yahei">本测评表涉及内容仅供我平台评估投资者风险承受能力，我们将履行保密义务。</span></span>
						</span>
						</span>
						</span>
						</span>
					</p>
					<p></p>
				</div>

				<div class="wjhr mtop"></div>

			</div>
			<div id="question_box">
				<div class="wjques maxtop question jqtransformdone" id="question_57fbd69ba320fc848a98b666" questiontype="2">
					<div class="title personInfo">1、姓名:<input class='inputInfo' type="text" />学历:<input class='inputInfo' type="text" />所处行业:<input class='inputInfo' type="text" />主要收入来源:<input class='inputInfo' type="text" /></div>
					<div class="personInfo-small">
						<h4>1、个人信息</h4>
						<div class="input-name"><span>姓名：</span><input type="text" /></div>
						<div class="input-name"><span>学历：</span><input type="text" /></div>
						<div class="input-name"><span>所处行业：</span><input type="text" /></div>
						<div class="input-name"><span>主要收入来源：</span><input type="text" /></div>
					</div>
				</div>
				<div class="wjques maxtop question jqtransformdone" id="question_57fbd69ba320fc848a98b666" questiontype="2">
					<div class="title">2、每年可支配资金为：<input   type="text" /></div>
				</div>
				<div class="wjques maxtop question jqtransformdone" id="question_57fbd69ba320fc848a98b667" questiontype="2">
					<div class="title">3、每年的家庭可支配收入中，可用于金融投资的金额为：<input  type="text" /></div>
				</div>
				<div class="wjques maxtop question jqtransformdone" id="question_57fbd69ba320fc848a98b668" questiontype="2">
					<div class="title">4、您是否有尚未清偿的数额较大的债务，如有，其性质是？：<input type="text" /></div>
				</div>
				<div class="wjques maxtop question jqtransformdone" id="question_57fbd69ba320fc848a98b669" questiontype="2">
					<div class="title">5、请您对您的投资知识理念简单描述：<input  type="text" /></div>
				</div>
				<div class="wjques maxtop question jqtransformdone" id="question_57fbd69ba320fc848a98b66a" questiontype="2">
					<div class="title">6、请对您的投资经验年数简单描述：<input type="text" /></div>
				</div>
				<div class="wjques maxtop question jqtransformdone" id="question_57fbd69ba320fc848a98b66b" questiontype="2">
					<div class="title">7、您希望的投资期限是多久：<input  type="text" /></div>
				</div>
				<div class="wjques maxtop question jqtransformdone" id="question_57fbd69ba320fc848a98b66c" questiontype="2">
					<div class="title">8、您最希望的投资目标为：<input  type="text" /></div>
				</div>
				<div class="wjques maxtop question jqtransformdone" id="question_57fbd69ba320fc848a98b66d" questiontype="2">
					<div class="title">9、以下哪项描述最符合您的投资态度？</div>
					<div class="matrix">
						<div class="related-tip"></div>
						<div id="tip_57fbd69ba320fc848a98b66d" class="red"></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66d"></a><input type="radio" name="question_57fbd69ba320fc848a98b66d" value="57fbd69ba320fc848a98b693" id="option_57fbd69ba320fc848a98b693" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b693" class="option_label label_57fbd69ba320fc848a98b693" style="cursor: pointer;">A.厌恶风险，不希望本金损失，希望获得稳定回报</label></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66d"></a><input type="radio" name="question_57fbd69ba320fc848a98b66d" value="57fbd69ba320fc848a98b694" id="option_57fbd69ba320fc848a98b694" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b694" class="option_label label_57fbd69ba320fc848a98b694" style="cursor: pointer;">B.保守投资，不希望本金损失，愿意承担一定幅度的收益波动</label></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66d"></a><input type="radio" name="question_57fbd69ba320fc848a98b66d" value="57fbd69ba320fc848a98b695" id="option_57fbd69ba320fc848a98b695" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b695" class="option_label label_57fbd69ba320fc848a98b695" style="cursor: pointer;">C.寻求资金的较高收益和成长性，愿意为此承担有限本金损失</label></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66d"></a><input type="radio" name="question_57fbd69ba320fc848a98b66d" value="57fbd69ba320fc848a98b696" id="option_57fbd69ba320fc848a98b696" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b696" class="option_label label_57fbd69ba320fc848a98b696" style="cursor: pointer;">D.希望赚取高回报，愿意为此承担较大本金损失</label></div>
					</div>
				</div>
				<div class="wjques maxtop question jqtransformdone" id="question_57fbd69ba320fc848a98b66e" questiontype="2">
					<div class="title">10、假设有两种投资：
						<p style="text-indent: 35px;">投资A预期获得10%的收益，可能承担的损失非常小</p>
						<p style="text-indent: 35px;">投资B预期获得30%的收益，但可能承受较大亏损</p>
					</div>
					<div class="matrix">
						<div class="related-tip"></div>
						<div id="tip_57fbd69ba320fc848a98b66e" class="red"></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66e"></a><input type="radio" name="question_57fbd69ba320fc848a98b66e" value="57fbd69ba320fc848a98b698" id="option_57fbd69ba320fc848a98b698" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b698" class="option_label label_57fbd69ba320fc848a98b698" style="cursor: pointer;">A.全部投资于收益较小且风险较小的</label></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66e"></a><input type="radio" name="question_57fbd69ba320fc848a98b66e" value="57fbd69ba320fc848a98b699" id="option_57fbd69ba320fc848a98b699" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b699" class="option_label label_57fbd69ba320fc848a98b699" style="cursor: pointer;">B.同时投资于A和B，但大部分资金投资于收益较小且风险较小的A</label></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66e"></a><input type="radio" name="question_57fbd69ba320fc848a98b66e" value="57fbd69ba320fc848a98b69a" id="option_57fbd69ba320fc848a98b69a" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b69a" class="option_label label_57fbd69ba320fc848a98b69a" style="cursor: pointer;">C.同时投资于A和B，但大部分资金投资于收益较大且风险较大的B</label></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66e"></a><input type="radio" name="question_57fbd69ba320fc848a98b66e" value="57fbd69ba320fc848a98b69b" id="option_57fbd69ba320fc848a98b69b" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b69b" class="option_label label_57fbd69ba320fc848a98b69b" style="cursor: pointer;">D.全部投资于收益较大且风险较大的B</label></div>
					</div>
				</div>
				<div class="wjques maxtop question jqtransformdone" id="question_57fbd69ba320fc848a98b66f" questiontype="2">
					<div class="title">11、您认为自己能承受的最大投资损失是多少？</div>
					<div class="matrix">
						<div class="related-tip"></div>
						<div id="tip_57fbd69ba320fc848a98b66f" class="red"></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66f"></a><input type="radio" name="question_57fbd69ba320fc848a98b66f" value="57fbd69ba320fc848a98b69d" id="option_57fbd69ba320fc848a98b69d" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b69d" class="option_label label_57fbd69ba320fc848a98b69d" style="cursor: pointer;">A.10%以内</label></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66f"></a><input type="radio" name="question_57fbd69ba320fc848a98b66f" value="57fbd69ba320fc848a98b69e" id="option_57fbd69ba320fc848a98b69e" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b69e" class="option_label label_57fbd69ba320fc848a98b69e" style="cursor: pointer;">B.10%-30%</label></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66f"></a><input type="radio" name="question_57fbd69ba320fc848a98b66f" value="57fbd69ba320fc848a98b69f" id="option_57fbd69ba320fc848a98b69f" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b69f" class="option_label label_57fbd69ba320fc848a98b69f" style="cursor: pointer;">C.30%-50%</label></div>
						<div class="icheckbox_div " style=""><span class="jqTransformRadioWrapper"><a href="javascript:;" class="jqTransformRadio" rel="question_57fbd69ba320fc848a98b66f"></a><input type="radio" name="question_57fbd69ba320fc848a98b66f" value="57fbd69ba320fc848a98b6a0" id="option_57fbd69ba320fc848a98b6a0" class="option jqTransformHidden"></span><label for="option_57fbd69ba320fc848a98b6a0" class="option_label label_57fbd69ba320fc848a98b6a0" style="cursor: pointer;">D.超过50%</label></div>
					</div>
				</div>
			</div>
			<div class="maxtop btns" id="control_panel">
				<div class="WJButton wj_color" id="next_button" style="">&nbsp;提 交&nbsp;</div>
			</div>
		</div>
	</body>

</html>
